@tailwind base;

@import '@fontsource/dm-sans/index.css';
@import 'react-virtualized/styles.css';
@import 'rc-slider/assets/index.css';

@import './variables.css';

@tailwind components;

@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2F0006;
  color: var(--text-primary);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  background-image: url('/wraithbg.jpg') !important;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 9px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #2A0E10;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #EA0F02;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #EA0F02;  /* creates padding around scroll thumb */
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus {
  outline: none;
}

input:focus {
  box-shadow: none;
  outline: none;
}

.striped-background {
  background: repeating-linear-gradient(45deg, #211414, #211414 10px, #150404 10px, #150404 20px);
}

.bg-dark-900 {
  background-color: rgb(33 20 20 / 90%) !important;
}

.bg-dark-1000 {
  background-color: rgb(21 4 4 / 69%) !important;
}

.bg-red2 {
  background-color: #EA0F02 !important;
}

.bg-red {
  background-color: #8A1310 !important;
}

.bg-purple {
  background-color: #80000063 !important;
}

.to-red {
  --tw-gradient-to: #8A1310 !important;
}

*::-webkit-scrollbar {
  width: 9px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #2A0E10;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #EA0F02;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid #EA0F02;  /* creates padding around scroll thumb */
}

/* *::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track-piece:start {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAQAAAAD+Fb1AAAADklEQVR42mNkgAJG3AwAAH4ABWjFc8IAAAAASUVORK5CYII=) repeat-y !important;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAQAAAAD+Fb1AAAADklEQVR42mNkgAJG3AwAAH4ABWjFc8IAAAAASUVORK5CYII=) repeat-y !important;
}

*::-webkit-scrollbar-thumb {
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: #BFBFBF;
} */